      <!-- Story content -->
      <div class="w3-half">
        <h4>$(ti)</h4>
        <div class="entry" style="margin-left: 10%;">
            $(body)
            <p class="entry-footer" style="margin-left:50%">
              Path: <a href="$(base_url)/$(urlencode(absolute_path))" title="path">/$(absolute_path)</a>
            </p>
        </div>
      </div>
      <!-- Story content end -->
