<div id="pagenav">
    <p>$(page_navigation)</p>
</div>

</div>
</div>
<div id="navigation">

    $categorylinks

    <br />
<ul>
$archivelinks
</ul>

</div>

<div id="footer"><p>$blog_rights</p></div>
</div>
</body>
</html>
