<p>$(pi_da) $(pi_mo) $(pi_yr)</p>
<div class="entry">
<h3><a name="$(fn)">$(title)</a></h3>
$(body)

<p class="entry-footer">
  Posted by $blog_author at: $(ti) |
  Path: <a href="$(base_url)/$(urlencode(absolute_path))" title="path">/$(absolute_path)</a> |
  <a href="$(base_url)/$(urlencode(file_path)).$(flavour)">Permalink</a>
</p>
</div>
