html,body {
    color: #ccc;
	margin:0;
	padding:0;
    	background: #ccc;
	font-family: "Raleway"
}

body {
	font: medium dejavu sans, verdana, arial, hevetica, sans-serif;
	text-align:center;
}

p {
	margin:0 10px 10px;
        font-size: medium;
}

a {     
	color: #fff;
  	text-decoration:none; 
}

a:hover { 
	color: #fff;
	text-decoration: none;
}

#header {
	height: 90px;
	margin: 0;
	background: #333;
}

#header h1 {
	color: #c9c9c9;
   	float: left;
	padding-left: 10px;
   	padding-top: 5px;
   	font-size: xx-large;
}

#header h3 {
    color: #c9c9c9;
    float: right;
    font-size: medium;
    padding-right: 11px;
    margin-top: 65px;
}

#header a { 
	color: #ccc;
  	text-decoration: none; 
}


#container {
	text-align:left;
	background: #000
}

#content p { 
	line-height:1.4 
}

#navigation {
	font-size: medium;
   	font-weight: bold;
	color: #fff;
	background:#000
}

#footer {
   	clear: both;
   	width: 100%;
	background: #333;
	color: #ccc
}

#footer p {
	margin:0;
	padding:5px 10px;
	text-align: right;
	font-size: medium;
}

#container {
        width: 100%;
        height: 100%;
	margin:0 auto;
}

#content {
	float:left;
        width:79%;
	border-right: 1px dotted #696969;
}

#navigation {
	float: right;
        text-align: left;
        width: 20%;
        font-size: medium;
}

#navigation ul { 
    list-style-type: none;
}

#navigation a { 
	display: block;
	color: #ccc;
  	text-decoration: none; 
   	font-size: medium;
   	font-weight: bold;
}

#navigation a:hover {
	color: #fff;
}

h2 { 
    color: #fff;
    font-size: large;
    font-weight: normal;
    padding-left: 10px;
    border-bottom: 1px solid #696969;
    padding-bottom: 5px;
}

/* pyblosxom */
#blosxomTitle {
	color: #aaa;
	font-size: large;
	font-weight: bold;
	font-style: italic;
	padding-bottom: 5px;
	letter-spacing: .1em;
}

.entry { 
	margin: 0 20px;
	font-weight: normal;
	color: #ccc;
}

.entry h3 {
    font-weight: normal;
	font-size: large;
}

.entry ul {
    list-style: none;
}

.entry-footer {
    color: #fff
}
/* end pybloxsom */

/* lightbox */

#photos {
    	float: left;
	padding-bottom: 50px;
}

#thumbs div, div.thumbnail {
	margin:2px;
	width:160px;
	height:160px;
	float:left;
	background:#000;
	border-top:1px solid #333;
	border-left:1px solid #333;
	border-bottom:1px solid #999;
	border-right:1px solid #999;
}

#thumbs.sequential div.current{
	background:#000;
}

#thumbs div img, div.thumbnail img{
	border:none;
	display:block;
	margin:5px auto;
}

#thumbs div.dirthumb {
	background: black;
	border: 3px double white;
	color: white;
}

#thumbs div.dirthumb img, a.directory img {
		border: 2px solid white;
}

#thumbs div.dirthumb a, a.directory {
	color: white;
	text-align: center !important;
	text-decoration: none;
	font-weight: bold;
}

#bigDynPic{
	background:#369;
	position:absolute;
	top:17px;
	left:180px;
	padding:5px;
	border-bottom:1px solid #036;
	border-right:1px solid #036;
	border-left:1px solid #69c;
	border-top:1px solid #69c;
}

#bigDynPic img{
	border-top:1px solid #036;
	border-left:1px solid #036;
	border-bottom:1px solid #69c;
	border-right:1px solid #69c;
}

#bigDynPic p{
	font-weight:bold;
	font-size:medium;
	background:#369;
	color:#fff;
	margin:0;
	padding:5px 10px;	
}
